.dilog-content {
  padding-bottom: 60px;
  .form-dialog {
    display: flex;
    justify-content: end;
    margin-bottom: 24px;
  }

  .dilog-table {
    margin-bottom: 24px;
  }
}
.makeStyles-root-384 {
  width: inherit !important;
}
.grid-staffFamily {
  .MuiOutlinedInput-root {
    border-radius: 0 !important;
  }
}

.staff-wrapper {
  margin: 32px 24px;
  .MuiIconButton-colorInherit:first-child {
    color: #01c0c8;
  }
  .MuiIconButton-colorInherit:last-child {
    color: #fb9678;
  }
  .staff-content {
    .staff-action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      .staff-form {
        display: flex;
        gap: 24px;
      }
    }
  }
}
