.department-content {
  padding-bottom: 60px;
  .form-dialog-department {
    display: flex;
    justify-content: end;
    margin-bottom: 24px;
  }

  .department-table {
    margin-bottom: 24px;
  }
}
.makeStyles-root-384 {
  width: inherit !important;
}
